.modal-dialog{
    position: relative;
    display: table; //This is important 
    overflow-y: auto;    
    overflow-x: auto;
    width: 400px !important;
    min-width: 400px !important;   
}

	
	@media (min-width: 1200px)
	bootstrap.min.css:11
	.container {
		width: 1450px !important;
	}
	
	.dataTables_wrapper{
		border-width: 1px !important;
		border-style:solid !important;
		border-color: #A1A1A1 !important;
		padding: 5px !important;
}

